# .gitignore
node_modules/
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and editor files
.DS_Store
.vscode/
.idea/

# Tailwind JIT cache
.tailwind-cache/

# Environment variables
.env
.env.*

# Swap files
*.swp
.Trashes